body {
	font-family: Verdana,"Lucida Grande","DejaVu Sans",sans-serif;
	background-color: #EFEFEF;
	margin: 0 10%;
}

a, div, dl, dd, h1, h2, h3, h4, p, ul {
	border: 0;
	margin: 0;
	padding: 0;
}

a:hover {
	font-variant: small-caps;
}

dl {
	margin-bottom: 0.5em;
}

dt {
	float: left;
	font-weight: bold;
	padding-right: 0.4em;
}

.errore {
	border: 2px solid red;
}

fieldset {
	background-color: #EFEFEF;
	padding: 0.6em;
}

form input {
	padding: 0.2em;
}

legend {
	color: #034CA5;
}

table {
	text-align: center;
}

td {
	border: 1px dotted black;
	padding: 0.4em;
}

td.film {
	font-weight: bold;
	padding: 0.2em 0.5em;
}

th {
	background-color: #EFEFEF;
	color: #02408D;
	padding: 0.4em;	
}

tr.pari {
	background-color: #DBEAFF;
}

ul {
	list-style-type: none;
}

#navigation, #path, #content, #footer, p, h1, h2, h3, h4 {
	clear: both;
}

/* Nelle pagine che usano javascript, nasconde il fieldset contenente il campo nascosto addizionale */
.script {
	display: none;
}

/* HEADER */
#skip_nav, #skip_table {
	position: absolute;
	height: 0;
	overflow: hidden;
}

#header {
	float: left;
}

#header a {
	color: #034CA5;
	font-variant: normal;
	padding: 0.2em 0;
	text-decoration: none;
}

#header h1 {
	font-size: 2.2em;
	padding: 0.2em 0;
}

#header h2 {
	font-size: 1em;
	margin-bottom: 0.6em;
}

#account {
	padding-top: 0.4em;
	float: right;
}

/* NAVIGATION */
#navigation a {
	padding: 0.4em 1em;
}

#navigation li {
	float:left;
	border-right: 1px dotted black;
	padding: 0.4em 0;
}

#navigation li:hover, #navigation li#current {
	background-color: white;
}

#navigation li#current {
	padding: 0.4em 2%;
	font-weight: bold;
}

/* CONTENT */
#content, #path {
	background-color: white;
	padding: 0.4em 2%;
}

#content {
	padding-bottom: 1em;
}

#indice {
	margin: 0.8em 0 1.6em 0;
}

#indice li {
	display: inline-block;
	background-color: #EFEFEF;
	border: 1px dotted #505050;
	padding: 0.3em;
}

#content h1 {
	font-size: 1.8em;
}

#content h2 {
	background-color: #EFEFEF;
	border-top: 1px solid #505050;
	clear: both;
	color: #02408D;
	font-size: 1.2em;
	margin: 1em 0 0.5em 0;
	padding: 0.3em 0.6em;	
}

#content h3 {
	font-size: 1.1em;
	margin: 0.8em 0;
}

#content h4 {
	color: #02408D;
	font-size: 1em;
	padding: 0.2em 0;
	margin: 0.6em 0;
}

#content p {
	line-height: 1.5;
	text-align: justify;
}

.anteprima {
	float: left;
	padding: 0 1%;
	text-align: center;
}

.film {
	clear: both;
	margin-top: 0.8em;
}

.informazioni {
	line-height: 1.8;
	margin-bottom: 0.6em;
}

.locandina {
	float: left;
	margin: 0 1.2em 0.8em 0;
}

.link a, .link span {
	background-color: #EFEFEF;
	border: solid #505050 1px;
	padding: 0.2em 0.5em;
}

.scheda {
	line-height: 2;
}

.spettacoli li {
	display: inline;
	background-color: #EFEFEF;
	border: 1px dotted black;
	padding: 0.2em 0;
}

.spettacoli li a {
	padding: 0.2em 0.5em;
}

.spettacolo {
	line-height: 1.8em;
}

dd.titolo {
	font-weight: bold;
}

dd.regista {
	font-style: italic;
}

#tagline {
	font-style: italic;
}

/* FOOTER */

#footer {
	background-color: #505050;
	color: white;
	padding: 0.6em 2%;
}

#footer p {
	text-align: center;
}